In [3]:
import pandas as pd

In [6]:
path = 'Documents/GitHub/Week_4/Project/bike+sharing+dataset/hour.csv'

In [14]:
df = pd.read_csv('hour.csv')

In [42]:
df.head(10)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
5,6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,0,1,1
6,7,2011-01-01,1,0,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2,0,2
7,8,2011-01-01,1,0,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,1,2,3
8,9,2011-01-01,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,1,7,8
9,10,2011-01-01,1,0,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,8,6,14

In [44]:
date_list = ['dteday','season','yr','mnth','holiday','weekday','workingday']
weather_list = ['weathersit','temp','atemp','hum','windspeed']
rental_list = ['hr','casual','registered', 'cnt']

In [46]:
df_date = df[date_list]
df_weather = df[weather_list]
df_rental = df[rental_list]

In [56]:
df_date.to_csv('bike_rental_date.csv')
# df_weather.to_csv('bike_rental_weather.csv')
# df_rental.to_csv('bike_rental_rental.csv')

In [54]:
df_date = df_date.drop_duplicates(subset=['dteday'])